# Código Python - Trabalho 2

## *Imports* estáticos

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVC
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

## Declaração de variáveis repetidas

In [16]:
random_state = 42
alpha = 0.05
test_size = 0.3

## 4.1  Análise Exploratória de Dados
### 4.1.1   Leitura do ficheiro

In [5]:
dados = pd.read_csv('../../dados/AIRPOL_data.csv', delimiter=";", header=0, decimal=',')
dados = dados.drop(columns=['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15']).rename(columns={"Value":"Premature_Deaths","Outcome":"Disease"})
#dados = dados[dados.Country != 'All Countries']
#dados.sort_values(by=['Value'])

### 4.1.4. Agrupamento dos dados em zonas

In [6]:
soutEuDados = dados[dados['Country'].isin(['Greece', 'Spain', 'Italy', 'Portugal'])]
soutEuDados

,Country,NUTS_Code,Air_Pollutant,Disease,Affected_Population,Populated_Area[km2],Air_Pollution_Average[ug/m3],Premature_Deaths
1274,Greece,EL643,PM2.5,Chronic obstructive pulmonary disease,15469.0,243.2,7.6,0.0
1548,Portugal,PT16H,PM2.5,Chronic obstructive pulmonary disease,67529.0,1098.3,5.8,0.0
1552,Spain,ES417,PM2.5,Chronic obstructive pulmonary disease,72931.0,610.6,5.2,0.0
3094,Greece,EL412,PM2.5,Chronic obstructive pulmonary disease,26702.0,232.2,9.0,1.0
3096,Greece,EL621,PM2.5,Chronic obstructive pulmonary disease,27037.0,184.4,9.2,1.0
...,...,...,...,...,...,...,...,...
47743,Italy,IT,PM2.5,Chronic obstructive pulmonary disease,45750394.0,169657.2,11.7,4166.0
47763,Italy,IT,PM2.5,Lung cancer,45750394.0,169657.2,11.7,5373.0
47780,Italy,IT,PM2.5,Diabetes Mellitus,45750394.0,169657.2,11.7,9805.0
47787,Italy,IT,PM2.5,Ischemic heart disease,45750394.0,169657.2,11.7,10789.0
47792,Italy,IT,PM2.5,Stroke,45750394.0,169657.2,11.7,10953.0

### 4.2.3 K-Fold cross validation

#### Preparação dos valores

In [20]:
goalAttrib = 'Premature_Deaths'
features = list(dados.columns[0:8])
numericFeatures = features[4:]
scaler = StandardScaler()

X = soutEuDados[numericFeatures].drop(columns=[goalAttrib])
y = soutEuDados[goalAttrib]

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=test_size,random_state=random_state)

print("Stratified division of goal attribute:")
print(y_train.value_counts(normalize=True).mul(100).round(1).astype(str)+'%')
print(y_test.value_counts(normalize=True).mul(100).round(1).astype(str)+'%')

Stratified division of goal attribute:
Premature_Deaths
0.0       13.5%
1.0        3.3%
2.0        2.6%
3.0        2.4%
4.0        2.1%
          ...
2177.0     0.0%
4789.0     0.0%
589.0      0.0%
1938.0     0.0%
2451.0     0.0%
Name: proportion, Length: 1103, dtype: object
Premature_Deaths
0.0       13.3%
1.0        3.9%
2.0        2.8%
3.0        2.7%
4.0        2.1%
          ...
1357.0     0.0%
6617.0     0.0%
3365.0     0.0%
6877.0     0.0%
325.0      0.0%
Name: proportion, Length: 678, dtype: object

#### Otimização dos parâmetros da Árvore de regressão e visualização

#### Otimização do kernel SVM

In [21]:
from sklearn.preprocessing import StandardScaler
# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

kernels = ['linear', 'rbf', 'poly']
results = {}

for kernel in kernels:
    # initialize and train SVM
    svm_model = SVC(kernel=kernel, random_state=random_state)
    acc_scores = cross_val_score(svm_model, X_train_scaled, y_train, scoring='accuracy', cv=10) # Normalmente, convém ter cv=20
    # store results
    results[kernel] = { 'accuracy': acc_scores }
    print(f"\nKernel: {kernel}")
    print(f"Avg. accuracy: {round(np.mean(acc_scores),3)} +/- ({round(np.std(acc_scores),3)})")

C:\Users\35193\AppData\Roaming\Python\Python312\site-packages\sklearn\model_selection\_split.py:805: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

Kernel: linear
Avg. accuracy: 0.135 +/- (0.003)

C:\Users\35193\AppData\Roaming\Python\Python312\site-packages\sklearn\model_selection\_split.py:805: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

Kernel: rbf
Avg. accuracy: 0.135 +/- (0.002)

C:\Users\35193\AppData\Roaming\Python\Python312\site-packages\sklearn\model_selection\_split.py:805: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

Kernel: poly
Avg. accuracy: 0.136 +/- (0.003)

Com isto, vemos que o melhor kernel é o "poly"
#### Otimização da configuração da rede neuronal

In [25]:
def regressmodelevaluation(name_model, y_test, y_pred):
    mae = round(mean_absolute_error(y_test, y_pred), 3)
    mse = round(mean_squared_error(y_test, y_pred), 3)
    rmse = round(np.sqrt(mse), 3)
    r2 = round(r2_score(y_test, y_pred), 3)
    mape = round(mean_absolute_percentage_error(y_test, y_pred), 3)
    return pd.Series({'Model': name_model, 'mae': mae, 'mse': mse, 'rmse': rmse, 'r2': r2, 'mape': mape})

In [29]:
results = []
ncols = X_train.shape[1]

for solv in ['lbfgs', 'sgd', 'adam']:
    for nodes in range(2,ncols):
        mlp = MLPRegressor(hidden_layer_sizes=nodes,
                           activation='tanh',
                           solver=solv,
                           max_iter=1000,
                           learning_rate='adaptive',
                           early_stopping=True,
                           random_state=random_state)
        mlp.fit(X_train_scaled, y_train)

        y_pred = mlp.predict(X_test_scaled)
        result = regressmodelevaluation(f'{solv} {nodes}', y_test, y_pred)
        results.append(result)
    
resdf = pd.DataFrame(results)
resdf

     Model      mae          mse      rmse     r2          mape
0  lbfgs 2  593.941  7495146.109  2737.726  0.092  1.297402e+17
1    sgd 2  477.940  7708266.922  2776.377  0.066  1.020709e+17
2   adam 2  453.225  8455178.998  2907.779 -0.025  2.439093e+14

In [35]:
results = []
for solv in ['lbfgs', 'sgd', 'adam']:
    for nodes1 in range(2,6):
        for nodes2 in range(3,7):
            mlp = MLPRegressor(hidden_layer_sizes=(nodes1, nodes2),
                        activation='tanh',
                        solver=solv,
                        max_iter=1000,
                        learning_rate='adaptive',
                        early_stopping=True,
                        random_state=random_state)
            mlp.fit(X_train_scaled, y_train)

            y_pred = mlp.predict(X_test_scaled)
            result = regressmodelevaluation(f'{solv} {nodes1} {nodes2}', y_test, y_pred)
            results.append(result)
    
resdf = pd.DataFrame(results)
resdf.sort_values(by='r2', ascending=False)

        Model      mae          mse      rmse     r2          mape
10  lbfgs 4 5  564.981  6634056.208  2575.666  0.196  2.002603e+17
7   lbfgs 3 6  528.174  6792455.926  2606.234  0.177  1.100848e+17
27    sgd 4 6  500.758  6942985.060  2634.954  0.158  1.138653e+17
4   lbfgs 3 3  570.899  7306377.619  2703.031  0.114  2.066506e+17
3   lbfgs 2 6  547.130  7318503.798  2705.273  0.113  1.492466e+17
18    sgd 2 5  511.142  7349924.150  2711.074  0.109  9.364126e+16
9   lbfgs 4 4  543.044  7430539.571  2725.902  0.099  1.430968e+17
2   lbfgs 2 5  524.031  7442893.842  2728.167  0.098  7.579495e+16
20    sgd 3 3  514.020  7504409.096  2739.418  0.090  1.130998e+17
21    sgd 3 4  539.612  7508277.399  2740.124  0.090  1.383509e+17
5   lbfgs 3 4  553.454  7578148.403  2752.844  0.081  1.616327e+17
15  lbfgs 5 6  543.748  7653346.058  2766.468  0.072  1.421756e+17
13  lbfgs 5 4  553.117  7831257.622  2798.438  0.051  8.903743e+16
12  lbfgs 5 3  638.602  8242185.171  2870.921  0.001  2.570560e+17
6   lbfgs 3 5  638.918  8241783.238  2870.851  0.001  2.579951e+17
28    sgd 5 3  640.691  8241791.625  2870.852  0.001  2.587085e+17
22    sgd 3 5  637.326  8242236.144  2870.929  0.001  2.561661e+17
14  lbfgs 5 5  639.987  8250580.590  2872.382 -0.000  2.456296e+17
8   lbfgs 4 3  641.928  8251959.260  2872.622 -0.000  2.458601e+17
1   lbfgs 2 4  641.942  8251957.564  2872.622 -0.000  2.458719e+17
0   lbfgs 2 3  641.928  8251959.263  2872.622 -0.000  2.458600e+17
11  lbfgs 4 6  641.928  8251959.260  2872.622 -0.000  2.458601e+17
19    sgd 2 6  646.439  8251450.851  2872.534 -0.000  2.496411e+17
17    sgd 2 4  647.518  8251341.530  2872.515 -0.000  2.505410e+17
31    sgd 5 6  660.380  8250389.217  2872.349 -0.000  2.611770e+17
16    sgd 2 3  638.194  8252441.626  2872.706 -0.000  2.427209e+17
29    sgd 5 4  640.896  8252087.142  2872.645 -0.000  2.449920e+17
24    sgd 4 3  632.602  8253266.433  2872.850 -0.000  2.380169e+17
23    sgd 3 6  606.261  8258958.695  2873.840 -0.001  2.153539e+17
30    sgd 5 5  598.611  8261200.202  2874.230 -0.001  2.086150e+17
26    sgd 4 5  589.815  8264119.445  2874.738 -0.002  2.007880e+17
25    sgd 4 4  567.161  8273451.003  2876.361 -0.003  1.801368e+17
41   adam 4 4  444.840  8431258.001  2903.663 -0.022  1.626945e+16
34   adam 2 5  450.479  8451809.267  2907.200 -0.024  2.102115e+15
40   adam 4 3  449.955  8451049.059  2907.069 -0.024  2.863154e+15
38   adam 3 5  448.985  8448829.428  2906.687 -0.024  3.947791e+15
43   adam 4 6  450.342  8451400.591  2907.129 -0.024  2.252956e+15
42   adam 4 5  449.694  8450105.856  2906.907 -0.024  2.839813e+15
46   adam 5 5  448.519  8447894.598  2906.526 -0.024  4.596685e+15
33   adam 2 4  450.990  8452347.838  2907.292 -0.025  1.698170e+15
39   adam 3 6  452.312  8454240.411  2907.618 -0.025  4.531147e+14
37   adam 3 4  451.498  8453091.524  2907.420 -0.025  1.297179e+15
36   adam 3 3  451.581  8453423.148  2907.477 -0.025  1.134839e+15
35   adam 2 6  451.290  8452929.556  2907.392 -0.025  1.303347e+15
32   adam 2 3  451.423  8453192.952  2907.438 -0.025  1.230503e+15
44   adam 5 3  450.895  8452449.653  2907.310 -0.025  1.666414e+15
45   adam 5 4  450.852  8452300.100  2907.284 -0.025  1.670768e+15
47   adam 5 6  451.922  8452918.034  2907.390 -0.025  4.413809e+14

Com isto, vemos que o melhor modelo é o lbfgs 4 5
#### k-fold cross validation

In [39]:
kfold = KFold(n_splits=5, shuffle=True, random_state=random_state)

models = []
models.append(('rgr', LinearRegression()))
models.append(('dtr', DecisionTreeRegressor(random_state=random_state)))
models.append(('net', MLPRegressor(hidden_layer_sizes=(4, 5),
                        activation='tanh',
                        solver='lbfgs',
                        max_iter=1000,
                        learning_rate='adaptive',
                        early_stopping=True,
                        random_state=random_state)))
models.append(('svm', SVC(kernel='poly', random_state=random_state)))

lstresults = []

for name, model in models:
    cv_scores = cross_val_score(model, X, y, cv=kfold, scoring='neg_mean_squared_error')
    rmse = (-cv_scores) ** 0.5
    lstresults.append(pd.Series({
        'model': name,
        'mean_RMSE': round(np.mean(rmse), 3),
        'std_RMSE': round(np.std(rmse), 3)
    }))

resdf = pd.DataFrame(lstresults)
resdf

  model  mean_RMSE  std_RMSE
0   rgr   1973.718   352.331
1   dtr   1870.431   260.580
2   net   2332.775   501.497
3   svm   2490.873   900.501